.btn-special{
	height: 34px;
}

label{
	font-weight: bold;
}

.product-image-home{
	min-height: 200px;
	max-height: 200px;
}

.text h3{
	margin-bottom: 0px;
}

.green{
	background-color: #2ecc71;
}

.green h3{
	color: #fff;
}

.slider_adjust{
	max-height: 300px;
	height: auto;
}

.padding5{
	padding: 5px;
}

.padding0{
	padding: 0px;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}
.btn-social {
    position: relative;
    padding-left: 10px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-facebook:hover {
    color: #fff;
}

.btn-twitter {
    color: #fff;
    background-color: #55acee;
    border-color: rgba(0,0,0,0.2);
}

.btn-twitter:hover {
    color: #fff;
}